:root {
  --bright: #92CBCE;
  --blue: #445876;
  --dark: #31343D;
}

html {
  font-size: 70%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--blue);
  font-weight: 700;
  line-height: 1.1;
}

/* h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .5rem;
}

h6 {
  font-size: .3rem;
}

p {
  margin-bottom: 1rem;
} */
h2 {
  font-size: 3rem;
  font-weight: 70%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  padding: 1rem;

}

header h1 {
  padding:.5rem 0;
  margin: 0;
  background-color: var(--bright);
}
nav {
  display: block;
  float: right;
  background-image: (var(--darkborder))
}

nav ul li{
  display: inline;
  color: var(--bright);

}

nav ul li a {
  color: var(--bright);
  text-decoration-thickness: 4px;
}
header h1.page-title {
  padding: .5rem;
  background-color: var(--bright);
  font-size: 3.5rem;
}

.bannertext {
  display: block;
  padding: .5rem;
  background-color: var(--bright);

}

main {
  width: 96%;
  margin: 2rem auto;
}

.container {
  display: flex;
  width: 100%;
}

.subtitle {
  text-align: right;
  border-right: 5px solid var(--blue);
  margin-left: 5%;
  margin-right: 80%;
  padding-right: 15px;
}
/* media query for larger screens */
@media screen and (min-width: 992px) {
  /* header {
    width: 75%;
  } */

  .img-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
