:root {
  --bright: #92CBCE;
  --blue: #445876;
  --dark: #31343D;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  font-size: 70%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--blue);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 2.5rem;
}

/* h2 {
  font-size: 2rem;
} */

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: .5rem;
}

h6 {
  font-size: .3rem;
}

p {
  margin-bottom: 1rem;
} 
h2 {
  font-size: 23px;
  font-weight: 70%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  padding: 2rem 1rem 2rem 0rem;
}


header h1 {
  padding: 1rem;
  margin: 0  ;
  background-color: var(--bright);
}
nav {
  display: block;
  float: right;
  background-image: (var(--darkborder))
}

nav ul li{
  display: inline;
  color: var(--bright);
  padding-right: 5px;
}

nav ul li a {
  color: var(--bright);
  text-decoration-thickness: 4px;

}
header h1.page-title {
  padding: .5rem;
  background-color: var(--bright);
  font-size: 3.5rem;
}

header nav ul li a:hover {
  background-color: var(--bright);
  color: var(--dark);
  transition-duration: .5s;
  }

.banner {
  display:flex;
  margin: 0;

}

.bannertext {
  padding: 1rem;
  background-color: var(--bright);
  margin-left: 85%;
  margin-top: 6rem;
  position: absolute;
}

.bannerimage {
  
  width: 100%;
  height: 20rem;
}
main {
  width: 96%;
  margin: 2rem auto;
}

.container {
  display: flex;
  margin-left: 4rem;
  padding-bottom: 30px;
}

/* how to align all the subtitles */
.subtitle {
  width: 118px;
  margin-left: 5px;
  justify-content: right;
  padding-right: 49px;
  padding-bottom: 15px;

}

.article {
  padding-left: 15px;
  border-left: 5px solid var(--blue);
}

/* .article div {
} */

.largeimage {
  display: block;
  width: 100%;
  border: 3px solid var(--bright);
  margin-bottom: 8px
}
.imgcolumns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* how to place tiles next to eachother and under the large image and make uniform size*/
.smallimage {
  width: 300px;
  height: 125px;
  border: 3px solid var(--bright);
  margin: 5px 0;
}

#imagetxt {
  position: absolute;
  padding: .5rem;
  margin: 46px 0px;
  background-color: var(--bright);
}


.article ul li {
  display: inline;
  justify-content: center;
  padding-right: 5px;
}

.article ul li a{
  color: var(--blue);
  font-size: 2rem;
  ;
}
.article ul li a :hover {
  transition-duration: .5s;
  background-color: var(--blue);
  color: var(--bright);
}
/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 100%;
  }
}

